$active-color: #0074D9;

nav {
  font-family: helvetica, arial, sans-serif;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: auto;

  ul {
    list-style-type: none;
    margin: 0 auto;
    text-align: center;
  }

  li {
    display: inline-block;
    float: left;
    margin: 0;

    &.active a {
      color: $active-color;

      &:hover {
        color: $active-color;
      }
    }

    a {
      border-bottom: 5px solid #eee;
      color: #aaa;
      display: block;
      padding: 5px 20px;
      text-decoration: none;
      transition: all .2s ease;

      &:hover {
        border-bottom-color: #ccc;
        color: #888;
      }
    }
  }

  .active-marker {
    background: $active-color;
    bottom: 0;
    display: none;
    height: 5px;
    position: absolute;
    left: 0;
    transition: all .2s cubic-bezier(.25, .25, .25, 1.25);
    width: auto;
  }
}